@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vehicles</h1>
    <p>
        Vehicles is simple ASP.Net MVC web application that illustrates the knowledge required for employment in Mono d.o.o.
        This application is developed by Josip Pavić.
    </p>
</div>
